section.jumbotron.text-center
    .container
        h1 Welcome to Recipedia
        p.lead.text-muted Over here, you will find a multitude of recipe from various cultures around the world and crucially, all the recipes will be accurately categorised so that you don't end up cooking something that does not fit your dietary requirements. Enjoy!!!
        p
          a.btn.btn-primary.m-2(href="/") See all our recipes
          a.btn.btn-secondary.m-2(href="/dietary-requirements") Filter our recipes
          