extends layout.pug

block content
	.container
		.py-5.text-center
			h2 Your dietary requirements
			p
				| Please tell us about your dietary requirements and we will list the recipes that are suitable for you.
		form(method='POST').needs-validation
			.row
				.cold-md-8.order-md-1
					.row
						.col-md-6.md-3
							label(for='firstName') First name 	
							input#firstName.form-control(type='text', name='firstName', placeholder='First name', required)
							.invalid-feedback
								| Valid first name is required
						.col-md-6.md-3
							label(for='lastName') Last name 	
							input#lastName.form-control(type='text', name='lastName', placeholder='Last name', required)
							.invalid-feedback
								| Valid last name is required
					hr.mb-4
					.checkbox
						label(for='glutenIntolerance') Do you suffer from any form of gluten intolerance? 
							input#glutenIntolerance(type='checkbox', name='glutenIntolerance', value='checked')
					hr.mb-4
					.checkbox
						label(for='nutAllergy') Do you suffer from any form of nut allergy? 
							input#nutAllergy(type='checkbox', name='nutAllergy',  value='checked')
					hr.mb-4
					.checkbox
						label(for='vegetarian') Are you vegetarian? 
							input#vegetarian(type='checkbox', name='vegetarian', value='checked')
					hr.mb-4
					.checkbox
						label(for='vegan') Are you vegan? 
							input#vegan(type='checkbox', name='vegan', value='checked')
			.row
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit your details

