extends layout.pug
include mixins/_thumbCard

block content
    // Including filtering partial
    include partials/recipe-filtering

    .album.py-5.bg-light
        .container
            .row
                each recipe in recipes
                    +thumbCard(recipe)

