extends layout.pug
include mixins/_thumbCard

block content
	.album.py-5.bg-light
		h2.text-center Hi #{firstName}, the following recipes are suitable for you:
		hr
		.container
			.row
				each recipe in recipes
					+thumbCard(recipe)